 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <iframe align="middle" width="672" height="{{ post.youtube_h }}" src="{{ post.youtube }}" frameborder="0" allowfullscreen></iframe>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p><b>Background</b> <br><br> {{ post.background }} <br> </p>
                            <p><br><b>Project Description</b> <br><br> {{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Project Name:
                                    <strong>{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Type:
                                    <strong>{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Status:
                                    <strong>{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
