<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mechanical</h4>
                    <p class="text-muted">Mechanical Engineering is the part of Mechatronics Engineering that I am most experienced with. I love beautiful mechanical design and often I love to just think about the different mechanical problems as if it is a riddle or a puzzle. One of the most interesting designs for me are the gearboxes. I designed a CVT of my own version in high school and recently, I am fascinated by the harmonic drives and cycloidal drives for robotic applications. In my portfolio, many of the projects heavily involved solid mechanical design and as I learn more about robotics, I cannot wait to design beautiful robotic mechanisms. Lastly, one of the most amazing designs that I have come across is the load balancing system on the PR2 (Willow Garage) manipulator (The robot on the top of my website). If anyone wants to have a discussion about the PR2 design and teach me a thing or two, I am all yours!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Software</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Electrical</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
